@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  height: 100vh;
  background-color: rgba(230, 238, 249, 0.29) !important;
}

html {
  z-index: -5;
}

#home {
  margin-top: 56px;
}

.profile-img {
  border-radius: 5%;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.page-section {
  background-color: white;
  padding: 20px;
}

