@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-regular, p, h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  font-style: normal;
}

.roboto-bold, h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700 !important;
  font-style: normal;
}

h1 {
  color: #e84a1a !important;
}

h2 {
  color: #3d4862 !important;
}

body {
  height: 100vh;
  background-color: rgba(230, 238, 249, 0.29) !important;
}

html {
  z-index: -5;
}

#main-container {
  margin-top: 56px !important;
  background-color: white;
}

.profile-img {
  border-radius: 5%;
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

